[
    {
      "layers": "admin_bnds:STE_2011_AUST",
      "url": "http://geoserver.nationalmap.nicta.com.au/admin_bnds_abs/ows",
      "type": "wms",
      "rectangle": [
        96.81694,
        -43.74050,
        159.10921,
        -9.14217
      ],
      "dataCustodian": "[Australian Bureau of Statistics](http://www.abs.gov.au/)",
      "description": "States & Territories",
      "name": "States & Territories",
      "info": [
        {
          "name": "Licence",
          "content": "[Creative Commons Attribution 2.5 Australia (CC BY 2.5 AU)](http://creativecommons.org/licenses/by/2.5/au/)"
        }
      ],
      "dataUrlType": "direct",
      "dataUrl": "http://www.abs.gov.au/ausstats/subscriber.nsf/log?openagent&1270055001_ste_2011_aust_shape.zip&1270.0.55.001&Data%20Cubes&1D26EC44E6ABD911CA257801000D8779&0&July%202011&23.12.2010&Latest"
    },
    {
      "layers": "admin_bnds:LGA_2011_AUST",
      "url": "http://geoserver.nationalmap.nicta.com.au/admin_bnds_abs/ows",
      "type": "wms",
      "rectangle": [
        112.92111,
        -43.74050,
        153.63872,
        -9.14217
      ],
      "dataCustodian": "[Australian Bureau of Statistics](http://www.abs.gov.au/)",
      "name": "Local Government Areas",
      "description": "Local Government Areas",
      "info": [
        {
          "name": "Licence",
          "content": "[Creative Commons Attribution 2.5 Australia (CC BY 2.5 AU)](http://creativecommons.org/licenses/by/2.5/au/)"
        }
      ],
      "dataUrlType": "direct",
      "dataUrl": "http://www.abs.gov.au/AUSSTATS/subscriber.nsf/log?openagent&1270055003_lga_2011_aust_shape.zip&1270.0.55.003&Data%20Cubes&4A320EE17A293459CA257937000CC967&0&July%202011&31.10.2011&Previous"
    },
    {
      "layers": "admin_bnds:POA_2011_AUST",
      "url": "http://geoserver.nationalmap.nicta.com.au/admin_bnds_abs/ows",
      "type": "wms",
      "rectangle": [
        96.81694,
        -43.59821,
        159.10921,
        -9.14217
      ],
      "dataCustodian": "[Australian Bureau of Statistics](http://www.abs.gov.au/)",
      "name": "Postal Areas",
      "description": "Postal Areas",
      "info": [
        {
          "name": "Licence",
          "content": "[Creative Commons Attribution 2.5 Australia (CC BY 2.5 AU)](http://creativecommons.org/licenses/by/2.5/au/)"
        }
      ],
      "dataUrlType": "direct",
      "dataUrl": "http://www.abs.gov.au/AUSSTATS/subscriber.nsf/log?openagent&1270055003_poa_2011_aust_shape.zip&1270.0.55.003&Data%20Cubes&71B4572D909B934ECA2578D40012FE0D&0&July%202011&22.07.2011&Previous"
    },
    {
      "layers": "admin_bnds:NRMR_2011_AUST",
      "url": "http://geoserver.nationalmap.nicta.com.au/admin_bnds_abs/ows",
      "type": "wms",
      "rectangle": [
        96.81694,
        -43.74050,
        159.10921,
        -9.14217
      ],
      "dataCustodian": "[Australian Bureau of Statistics](http://www.abs.gov.au/)",
      "name": "Natural Resource Management Regions",
      "description": "Natural Resource Management Regions",
      "info": [
        {
          "name": "Licence",
          "content": "[Creative Commons Attribution 2.5 Australia (CC BY 2.5 AU)](http://creativecommons.org/licenses/by/2.5/au/)"
        }
      ],
      "dataUrlType": "direct",
      "dataUrl": "http://www.abs.gov.au/AUSSTATS/subscriber.nsf/log?openagent&1270055003_nrmr_2011_aust_shape.zip&1270.0.55.003&Data%20Cubes&6F23BC29F5CA27F8CA2578D40013679F&0&July%202011&22.07.2011&Previous"
    },


    {
      "name": "Satellite Imagery",
      "type": "group",
      "items": [
        {
          "name": "Landsat 16 day aggregate terrain corrected surface reflectance",
          "type": "group",
          "description": "The publication of the Digital Earth Australia (DEA) Landsat data on NationalMap is the result of the 12 month collaborative project “TerriaCube” between the National Computation Infrastructure (NCI), Geoscience Australia, Department of the Environment and Energy (DoEE) and CSIRO Land & Water and Data61 teams. <p>Each stakeholder contribution was essential for the project’s success: the NCI developed the data services; Geoscience Australia provided the data; Department of Environment and CSIRO Land and Water, provided insights and the user stories; and CSIRO Data61 provided the software development of terriaJS.</p> <p>The project aimed to enable access to the DEA satellite imagery data managed by the NCI on NationalMap; and built functionalities in terriaJS to allow users to easily interact with the data. The project results were twofold: <ol> <li>users have now access to terrain corrected surface reflectance from Landsat 5, 7 and 8 presented as true colour and false colour composites and</li> <li>all applications using the open source terriaJS have the “screen splitter” and “date picker” functionalities developed, allowing users to make comparisons of imagery for different points in time.</li> </ol> </p> <center> <img style='padding: 10px' height='100px' src='/proxy/http://static.nationalmap.nicta.com.au/images/DEA.jpg'/> <img style='padding: 10px' height='100px' src='/proxy/http://static.nationalmap.nicta.com.au/images/Data61.png'/> <img style='padding: 10px' height='100px' src='/proxy/http://static.nationalmap.nicta.com.au/images/NCI.svg'/> </center> <br/> <center> <img style='padding: 10px' height='100px' src='/proxy/http://static.nationalmap.nicta.com.au/images/GA.jpg'/> <img style='padding: 10px' height='100px' src='/proxy/http://static.nationalmap.nicta.com.au/images/DoEE.png'/> </center>",
          "preserveOrder": true,
          "items": [
            {
              "name": "Landsat 8 - March 2013 - onwards",
              "type": "group",
              "items": [
                {
                  "id": "8b895019",
                  "name": "Landsat 8 False colour",
                  "url": "http://gsky.nci.org.au/ows",
                  "layers": "LS8:NBART:FALSE",
                  "type": "wms",
                  "opacity": 1,
                  "ignoreUnknownTileErrors": true,
                  "useOwnClock": true
                },
                {
                  "id": "f9a5924e",
                  "name": "Landsat 8 True colour",
                  "url": "http://gsky.nci.org.au/ows",
                  "layers": "LS8:NBART:TRUE",
                  "type": "wms",
                  "opacity": 1,
                  "ignoreUnknownTileErrors": true,
                  "useOwnClock": true
                }
              ]
            },
            {
              "name": "Landsat 7 - May 1999 - onwards",
              "type": "group",
              "items": [
                {
                  "id": "d66f5d82",
                  "name": "Landsat 7 False colour",
                  "url": "http://gsky.nci.org.au/ows",
                  "layers": "LS7:NBART:FALSE",
                  "type": "wms",
                  "opacity": 1,
                  "ignoreUnknownTileErrors": true,
                  "useOwnClock": true
                },
                {
                  "id": "f4a00b1a",
                  "name": "Landsat 7 True colour",
                  "url": "http://gsky.nci.org.au/ows",
                  "layers": "LS7:NBART:TRUE",
                  "type": "wms",
                  "opacity": 1,
                  "ignoreUnknownTileErrors": true,
                  "useOwnClock": true
                }
              ]
            },
            {
              "name": "Landsat 5 - August 1986 - November 2011",
              "type": "group",
              "items": [
                {
                  "id": "5d5028b5",
                  "name": "Landsat 5 False colour",
                  "url": "http://gsky.nci.org.au/ows",
                  "layers": "LS5:NBART:FALSE",
                  "type": "wms",
                  "opacity": 1,
                  "ignoreUnknownTileErrors": true,
                  "useOwnClock": true
                },
                {
                  "id": "11992f37",
                  "name": "Landsat 5 True colour",
                  "url": "http://gsky.nci.org.au/ows",
                  "layers": "LS5:NBART:TRUE",
                  "type": "wms",
                  "opacity": 1,
                  "ignoreUnknownTileErrors": true,
                  "useOwnClock": true
                }
              ]
            }
          ]
        },

        {
          "id": "9c408407",
          "name": "Sentinel-2 A/B Near Real-Time (NRT) terrain corrected surface reflectance",
          "url": "https://nrt-au.dea.ga.gov.au/",
          "type": "wms-getCapabilities",
          "flatten": true,
          "itemProperties": {
            "ignoreUnknownTileErrors": true,
            "opacity": 1
          }
        }
      ]
    }

]
