node_modules/
.idea/
wwwroot/build/
wwwroot/doc/
npm-debug.log
version.js
wwwroot/init/nm.json
datasources/00_National_Data_Sets.json
.DS_Store
.localized
.sass-cache
/terriajs.pid
/terriajs-server.log
package-lock.json
/wwwroot/editor/
/error.log
/error.log
/output.log
privateserverconfig.json
wwwroot/privateconfig.json
deploy/packages/
deploy/work/

/wwwroot/init/neii-air.json
/wwwroot/init/neii-biota.json
/wwwroot/init/neii-contextual.json
/wwwroot/init/neii-experimental.json
/wwwroot/init/neii-land.json
/wwwroot/init/neii-nemsr.json
/wwwroot/init/neii-oceans-prod.json
/wwwroot/init/neii-oceans.json
/wwwroot/init/neii-other.json
/wwwroot/init/neii-water.json
packages/
