{
    "catalog": [
        {
            "name": "NEII Data Services – Conformant",
            "type": "group",
            "isOpen": false,
            "description": "<p>Conformance for NEII web data services is determined by the <a href="http://www.neii.gov.au/system/files/filedepot/1/NEII%20Conformance%20Framework%20Version%201.0%20May%202016.pdf" target="_blank">NEII Conformance Framework</a>. The framework uses a maturity model approach outlining the various degrees of conformity.</p><p>Specific principles in the framework include the following:</p><ul><li>Environmental data are made publically available through machine-readable web data services (published online).</li><li>Structured metadata will support any NEII data release (well described).</li><li>Providers will make their data available through under an open licence.</li><li>Data are provided with support structures that provide enduring operational support to users.</li></ul><p>The first principle is mandatory and in the absence of the availability of environmental data through web data services, NEII conformance is not possible at any level of maturity.</p><p>See the <a href="http://www.neii.gov.au/system/files/filedepot/1/NEII%20Conformance%20Framework%20Version%201.0%20May%202016.pdf" target="_blank">NEII Conformance Framework</a> for a detailed overview of what constitutes conformance.</p><p>See <a href="http://www.neii.gov.au/web-data-services" target="_blank">here</a> for a list of NEII conformant web data services and how to access.</p>",
            "items": [
                {
                    "name": "<%- titleWithCount('Air', include('includes/air-items')) %>",
                    "type": "group",
                    "items": <%- include('includes/air-items') %>
                }
            ]
        }
    ]
}
